<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserTestExample">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.ghost.autotest.*"/>
        </packages>
    </test>
    <test name="ConfirmMail">
        <parameter name="domenName" value="https://localhost:8080/registration/confirm?token"></parameter>
        <packages>
        <package name="com.ghost.jmail.*"/>
        </packages>
    </test>
    <!--<test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="com.ghost.*"/>
        </packages>
    </test>-->
</suite>